body{
  background-color: aqua;
}
.App {
  display: flex;
  flex-direction: column;
  width: 800px;
  justify-items: center;
  margin: 20px auto;
  border: 2px solid black;
  min-height: 400px;
  height: fit-content;
}
.header {
  display: flex;
    align-items: center;
    min-height: 40px;
    /* justify-content: center; */
    /* justify-items: center; */
    background-color: antiquewhite;
}
.title {
  margin: auto;
  border: 2px solid black;
  text-decoration: none;
  height: 40px;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: auto;
}
.noteApp {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.notesidebar {
  display: flex;
  justify-content: space-around;
   align-items: flex-start;
}
.items{
  display: flex;
  flex-direction: column;

}
.item {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0px;
  align-items: center;
}
.check-list-item{
  display: flex;
  justify-content: center;
  margin: 2px;
  align-items: center;
  height: 40px;
}
.checklistsidebar{
  margin: 0px 8px;
  height: fit-content;
  align-items: center;
}
input {
  height: 20px;
}